<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hpzc.dao.tms.HpzcCgdMapper">
	<resultMap id="BaseResultMap" type="com.hpzc.model.tms.HpzcCgd">
		<id column="h_id" property="hId" jdbcType="VARCHAR" />
		<result column="is_delete" property="isdelete" jdbcType="VARCHAR" />
		<result column="h_code" property="hCode" jdbcType="VARCHAR" />
		<result column="h_name" property="hName" jdbcType="VARCHAR" />
		<result column="h_date" property="hDate" jdbcType="VARCHAR" />
		<result column="h_pur_code" property="hPurCode" jdbcType="VARCHAR" />
		<result column="h_pur_name" property="hPurName" jdbcType="VARCHAR" />
		<result column="h_play_code" property="hPlayCode" jdbcType="VARCHAR" />
		<result column="h_play_name" property="hPlayName" jdbcType="VARCHAR" />
		<result column="h_cus_code" property="hCusCode" jdbcType="VARCHAR" />
		<result column="h_cus_name" property="hCusName" jdbcType="VARCHAR" />
		<result column="h_xgr" property="hXgr" jdbcType="VARCHAR" />
		<result column="h_xgrq" property="hXgrq" jdbcType="DATE" />
		<result column="h_cjrq" property="hCjrq" jdbcType="DATE" />
		<result column="h_gysbm" property="hGysbm" jdbcType="VARCHAR" />
		<result column="h_gysmc" property="hGysmc" jdbcType="VARCHAR" />
		<result column="h_pur_money" property="hPurMoney" jdbcType="DECIMAL" />
		<result column="h_zffsbm1" property="hZffsbm1" jdbcType="VARCHAR" />
		<result column="h_zffsmc" property="hZffsmc" jdbcType="VARCHAR" />
		<result column="h_zfje1" property="hZfje1" jdbcType="DECIMAL" />
		<result column="h_zffsbm2" property="hZffsbm2" jdbcType="VARCHAR" />
		<result column="h_zffsmc2" property="hZffsmc2" jdbcType="VARCHAR" />
		<result column="h_zfje2" property="hZfje2" jdbcType="DECIMAL" />
		<result column="h_zffsbm3" property="hZffsbm3" jdbcType="VARCHAR" />
		<result column="h_zffsmc3" property="hZffsmc3" jdbcType="VARCHAR" />
		<result column="h_zfje3" property="hZfje3" jdbcType="DECIMAL" />
		<result column="h_memo1" property="hMemo1" jdbcType="VARCHAR" />
		<result column="h_memo2" property="hMemo2" jdbcType="VARCHAR" />
		<result column="h_memo3" property="hMemo3" jdbcType="VARCHAR" />
		<result column="h_remark1" property="hRemark1" jdbcType="VARCHAR" />
		<result column="h_remark2" property="hRemark2" jdbcType="VARCHAR" />
		<result column="h_remark3" property="hRemark3" jdbcType="VARCHAR" />
		<result column="status" property="status" jdbcType="VARCHAR" />
		<result column="h_type" property="htype" jdbcType="VARCHAR" />
		<result column="h_zdrq" property="hzdrq" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		h_id, h_code, h_name, h_date, h_pur_code, h_pur_name,
		h_play_code,
		h_play_name, h_cus_code,
		h_cus_name, h_xgr, h_xgrq, h_cjrq,
		h_gysbm, h_gysmc, h_pur_money, h_zffsbm1,
		h_zffsmc,
		h_zfje1, h_zffsbm2,
		h_zffsmc2, h_zfje2, h_zffsbm3, h_zffsmc3, h_zfje3,
		h_memo1, h_memo2,
		h_memo3, h_remark1, h_remark2,
		h_remark3,is_delete,status,h_type,h_zdrq
	</sql>

	<select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from hpzc_cgd
		where is_delete='0' and h_id = #{hId,jdbcType=VARCHAR}
		LIMIT 1
	</select>

	<!-- 删除信息! -->
	<select id="delete" parameterType="java.lang.String">
		update hpzc_cgd set
		is_delete='1' where
		h_id=#{0}
	</select>

	<!-- 计算总条数,生成动态单号! -->
	<select id="selectByMax" resultType="INTEGER">
		select count(*) from
		hpzc_cgd
		where is_delete='0'
		and h_name=#{0}
	</select>

	<select id="selectByQuery" resultMap="BaseResultMap"
		parameterType="map">
		select
		<include refid="Base_Column_List" />
		from hpzc_cgd
		where is_delete='0'
		<if test="zdr !=null and zdr !=''">
			and h_play_code like CONCAT('%',#{zdr},'%')
		</if>
		<if test="cgr !=null and cgr !=''">
			and h_pur_name like CONCAT('%',#{cgr},'%')
		</if>
		<if test="gys !=null and gys !=''">
			and h_gysbm like CONCAT('%',#{gys},'%')
		</if>
		<if test="hid !=null and hid !=''">
			and h_id = #{hid}
		</if>
		<if test="hCode !=null and hCode !=''">
			and h_code = #{hCode}
		</if>
		<if test="zdbegin !=null and zdbegin !=''">
	<![CDATA[   and DATE_FORMAT(h_cjrq, '%Y-%m-%d')>=  DATE_FORMAT(#{zdbegin}, '%Y-%m-%d')   ]]>
		</if>
		<if test="zdend !=null and zdend !=''">
	<![CDATA[  and DATE_FORMAT(h_cjrq, '%Y-%m-%d') <= DATE_FORMAT(#{zdend}, '%Y-%m-%d')    ]]>
		</if>
		<!-- 采购日期 -->
		<if test="cgbegin != null and cgbegin != ''">
  	     <![CDATA[ and h_date >= #{cgbegin}  ]]>
		</if>
		<!-- 采购日期 -->
		<if test="cgend != null and cgend != ''">
    	 <![CDATA[ and h_date <= #{cgend} ]]>
		</if>
		<if test="minje != null and minje != ''">
  	     <![CDATA[ and h_pur_money >= #{minje}  ]]>
		</if>
		<if test="maxje != null and maxje != ''">
  	     <![CDATA[ and h_pur_money >= #{maxje}  ]]>
		</if>
	</select>


	<insert id="insert" parameterType="com.hpzc.model.tms.HpzcCgd">
		insert into hpzc_cgd
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="hId != null">
				h_id,
			</if>
			<if test="hCode != null">
				h_code,
			</if>
			<if test="hName != null">
				h_name,
			</if>
			<if test="hDate != null">
				h_date,
			</if>
			<if test="hPurCode != null">
				h_pur_code,
			</if>
			<if test="hPurName != null">
				h_pur_name,
			</if>
			<if test="hPlayCode != null">
				h_play_code,
			</if>
			<if test="hPlayName != null">
				h_play_name,
			</if>
			<if test="hCusCode != null">
				h_cus_code,
			</if>
			<if test="hCusName != null">
				h_cus_name,
			</if>
			<if test="hXgr != null">
				h_xgr,
			</if>
			<if test="hXgrq != null">
				h_xgrq,
			</if>
			<if test="hCjrq != null">
				h_cjrq,
			</if>
			<if test="hGysbm != null">
				h_gysbm,
			</if>
			<if test="hGysmc != null">
				h_gysmc,
			</if>
			<if test="hPurMoney != null">
				h_pur_money,
			</if>
			<if test="hZffsbm1 != null">
				h_zffsbm1,
			</if>
			<if test="hZffsmc != null">
				h_zffsmc,
			</if>
			<if test="hZfje1 != null">
				h_zfje1,
			</if>
			<if test="hZffsbm2 != null">
				h_zffsbm2,
			</if>
			<if test="hZffsmc2 != null">
				h_zffsmc2,
			</if>
			<if test="hZfje2 != null">
				h_zfje2,
			</if>
			<if test="hZffsbm3 != null">
				h_zffsbm3,
			</if>
			<if test="hZffsmc3 != null">
				h_zffsmc3,
			</if>
			<if test="hZfje3 != null">
				h_zfje3,
			</if>
			<if test="hMemo1 != null">
				h_memo1,
			</if>
			<if test="hMemo2 != null">
				h_memo2,
			</if>
			<if test="hMemo3 != null">
				h_memo3,
			</if>
			<if test="hRemark1 != null">
				h_remark1,
			</if>
			<if test="hRemark2 != null">
				h_remark2,
			</if>
			<if test="hRemark3 != null">
				h_remark3,
			</if>
			<if test="status != null">
				status,
			</if>
			<if test="htype != null">
				h_type,
			</if>
			<if test="hzdrq != null">
				h_zdrq,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="hId != null">
				#{hId,jdbcType=VARCHAR},
			</if>
			<if test="hCode != null">
				#{hCode,jdbcType=VARCHAR},
			</if>
			<if test="hName != null">
				#{hName,jdbcType=VARCHAR},
			</if>
			<if test="hDate != null">
				#{hDate,jdbcType=VARCHAR},
			</if>
			<if test="hPurCode != null">
				#{hPurCode,jdbcType=VARCHAR},
			</if>
			<if test="hPurName != null">
				#{hPurName,jdbcType=VARCHAR},
			</if>
			<if test="hPlayCode != null">
				#{hPlayCode,jdbcType=VARCHAR},
			</if>
			<if test="hPlayName != null">
				#{hPlayName,jdbcType=VARCHAR},
			</if>
			<if test="hCusCode != null">
				#{hCusCode,jdbcType=VARCHAR},
			</if>
			<if test="hCusName != null">
				#{hCusName,jdbcType=VARCHAR},
			</if>
			<if test="hXgr != null">
				#{hXgr,jdbcType=VARCHAR},
			</if>
			<if test="hXgrq != null">
				#{hXgrq,jdbcType=DATE},
			</if>
			<if test="hCjrq != null">
				#{hCjrq,jdbcType=DATE},
			</if>
			<if test="hGysbm != null">
				#{hGysbm,jdbcType=VARCHAR},
			</if>
			<if test="hGysmc != null">
				#{hGysmc,jdbcType=VARCHAR},
			</if>
			<if test="hPurMoney != null">
				#{hPurMoney,jdbcType=DECIMAL},
			</if>
			<if test="hZffsbm1 != null">
				#{hZffsbm1,jdbcType=VARCHAR},
			</if>
			<if test="hZffsmc != null">
				#{hZffsmc,jdbcType=VARCHAR},
			</if>
			<if test="hZfje1 != null">
				#{hZfje1,jdbcType=DECIMAL},
			</if>
			<if test="hZffsbm2 != null">
				#{hZffsbm2,jdbcType=VARCHAR},
			</if>
			<if test="hZffsmc2 != null">
				#{hZffsmc2,jdbcType=VARCHAR},
			</if>
			<if test="hZfje2 != null">
				#{hZfje2,jdbcType=DECIMAL},
			</if>
			<if test="hZffsbm3 != null">
				#{hZffsbm3,jdbcType=VARCHAR},
			</if>
			<if test="hZffsmc3 != null">
				#{hZffsmc3,jdbcType=VARCHAR},
			</if>
			<if test="hZfje3 != null">
				#{hZfje3,jdbcType=DECIMAL},
			</if>
			<if test="hMemo1 != null">
				#{hMemo1,jdbcType=VARCHAR},
			</if>
			<if test="hMemo2 != null">
				#{hMemo2,jdbcType=VARCHAR},
			</if>
			<if test="hMemo3 != null">
				#{hMemo3,jdbcType=VARCHAR},
			</if>
			<if test="hRemark1 != null">
				#{hRemark1,jdbcType=VARCHAR},
			</if>
			<if test="hRemark2 != null">
				#{hRemark2,jdbcType=VARCHAR},
			</if>
			<if test="hRemark3 != null">
				#{hRemark3,jdbcType=VARCHAR},
			</if>

			<if test="status != null">
				#{status,jdbcType=VARCHAR},
			</if>
			<if test="htype != null">
				#{htype,jdbcType=VARCHAR},
			</if>
			<if test="hzdrq != null">
				#{hzdrq,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>

	<update id="update" parameterType="com.hpzc.model.tms.HpzcCgd">
		update hpzc_cgd
		<set>
			<if test="hCode != null">
				h_code = #{hCode,jdbcType=VARCHAR},
			</if>
			<if test="hName != null">
				h_name = #{hName,jdbcType=VARCHAR},
			</if>
			<if test="hDate != null">
				h_date = #{hDate,jdbcType=VARCHAR},
			</if>
			<if test="hPurCode != null">
				h_pur_code = #{hPurCode,jdbcType=VARCHAR},
			</if>
			<if test="hPurName != null">
				h_pur_name = #{hPurName,jdbcType=VARCHAR},
			</if>
			<if test="hPlayCode != null">
				h_play_code = #{hPlayCode,jdbcType=VARCHAR},
			</if>
			<if test="hPlayName != null">
				h_play_name = #{hPlayName,jdbcType=VARCHAR},
			</if>
			<if test="hCusCode != null">
				h_cus_code = #{hCusCode,jdbcType=VARCHAR},
			</if>
			<if test="hCusName != null">
				h_cus_name = #{hCusName,jdbcType=VARCHAR},
			</if>
			<if test="hXgr != null">
				h_xgr = #{hXgr,jdbcType=VARCHAR},
			</if>
			<if test="hXgrq != null">
				h_xgrq = #{hXgrq,jdbcType=DATE},
			</if>
			<if test="hCjrq != null">
				h_cjrq = #{hCjrq,jdbcType=DATE},
			</if>
			<if test="hGysbm != null">
				h_gysbm = #{hGysbm,jdbcType=VARCHAR},
			</if>
			<if test="hGysmc != null">
				h_gysmc = #{hGysmc,jdbcType=VARCHAR},
			</if>
			<if test="hPurMoney != null">
				h_pur_money = #{hPurMoney,jdbcType=DECIMAL},
			</if>
			<if test="hZffsbm1 != null">
				h_zffsbm1 = #{hZffsbm1,jdbcType=VARCHAR},
			</if>
			<if test="hZffsmc != null">
				h_zffsmc = #{hZffsmc,jdbcType=VARCHAR},
			</if>
			<if test="hZfje1 != null">
				h_zfje1 = #{hZfje1,jdbcType=DECIMAL},
			</if>
			<if test="hZffsbm2 != null">
				h_zffsbm2 = #{hZffsbm2,jdbcType=VARCHAR},
			</if>
			<if test="hZffsmc2 != null">
				h_zffsmc2 = #{hZffsmc2,jdbcType=VARCHAR},
			</if>
			<if test="hZfje2 != null">
				h_zfje2 = #{hZfje2,jdbcType=DECIMAL},
			</if>
			<if test="hZffsbm3 != null">
				h_zffsbm3 = #{hZffsbm3,jdbcType=VARCHAR},
			</if>
			<if test="hZffsmc3 != null">
				h_zffsmc3 = #{hZffsmc3,jdbcType=VARCHAR},
			</if>
			<if test="hZfje3 != null">
				h_zfje3 = #{hZfje3,jdbcType=DECIMAL},
			</if>
			<if test="hMemo1 != null">
				h_memo1 = #{hMemo1,jdbcType=VARCHAR},
			</if>
			<if test="hMemo2 != null">
				h_memo2 = #{hMemo2,jdbcType=VARCHAR},
			</if>
			<if test="hMemo3 != null">
				h_memo3 = #{hMemo3,jdbcType=VARCHAR},
			</if>
			<if test="hRemark1 != null">
				h_remark1 = #{hRemark1,jdbcType=VARCHAR},
			</if>
			<if test="hRemark2 != null">
				h_remark2 = #{hRemark2,jdbcType=VARCHAR},
			</if>
			<if test="hRemark3 != null">
				h_remark3 = #{hRemark3,jdbcType=VARCHAR},
			</if>
			<if test="isdelete != null">
				is_delete = #{isdelete,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				status = #{status,jdbcType=VARCHAR},
			</if>
			<if test="htype != null">
				h_type = #{htype,jdbcType=VARCHAR},
			</if>
			<if test="hzdrq != null">
				h_zdrq = #{hzdrq,jdbcType=VARCHAR},
			</if>
		</set>
		where h_id = #{hId,jdbcType=VARCHAR}
	</update>
	<!-- 批量删除和更新状态 -->
	<update id="batchDelete" parameterType="java.util.List">
		<foreach collection="list" item="item" index="index" open=""
			close="" separator=";">
			update hpzc_cgd set is_delete='1'
			where h_id
			=${item}
		</foreach>
	</update>

	<!-- 批量查询采购单 -->

	<select id="batchQuery" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from hpzc_cgd
		<if test="array != null and array.length>0">
			where h_id in
			<foreach item="ids" index="index" collection="array" open="("
				separator="," close=")">
				#{ids}
			</foreach>
		</if>
	</select>


</mapper>