<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hpzc.dao.tms.HpzcPartMapper">
	<resultMap id="BaseResultMap" type="com.hpzc.model.tms.HpzcPart">
		<id column="phone_parts_id" property="phonePartsId" jdbcType="VARCHAR" />
		<result column="is_delete" property="isdelete" jdbcType="VARCHAR" />
		<result column="phone_brand_code" property="phoneBrandCode"
			jdbcType="VARCHAR" />
		<result column="phone_brand_name" property="phoneBrandName"
			jdbcType="VARCHAR" />
		<result column="phone_model_code" property="phoneModelCode"
			jdbcType="VARCHAR" />
		<result column="phone_model_name" property="phoneModelName"
			jdbcType="VARCHAR" />
		<result column="phone_ver_code" property="phoneVerCode"
			jdbcType="VARCHAR" />
		<result column="phone_ver_name" property="phoneVerName"
			jdbcType="VARCHAR" />
		<result column="phone_par_code" property="phoneParCode"
			jdbcType="VARCHAR" />
		<result column="phone_par_name" property="phoneParName"
			jdbcType="VARCHAR" />
		<result column="part_colour_code" property="partColourCode"
			jdbcType="VARCHAR" />
		<result column="part_colour_name" property="partColourName"
			jdbcType="VARCHAR" />
		<result column="part_sun_price" property="partSunPrice"
			jdbcType="DOUBLE" />
		<result column="part_sum_num" property="partSumNum" jdbcType="INTEGER" />
		<result column="part_price" property="partPrice" jdbcType="DOUBLE" />
		<result column="part_num" property="partNum" jdbcType="INTEGER" />
		<result column="part_price2" property="partPrice2" jdbcType="DOUBLE" />
		<result column="part_num2" property="partNum2" jdbcType="INTEGER" />
		<result column="part_num3" property="partNum3" jdbcType="DOUBLE" />
		<result column="part_attr1" property="partAttr1" jdbcType="VARCHAR" />
		<result column="part_attr2" property="partAttr2" jdbcType="VARCHAR" />
		<result column="part_attr3" property="partAttr3" jdbcType="VARCHAR" />
		<result column="part_attr4" property="partAttr4" jdbcType="VARCHAR" />
		<result column="part_attr5" property="partAttr5" jdbcType="VARCHAR" />
		<result column="part_remark" property="partRemark" jdbcType="VARCHAR" />
		<result column="remark1" property="remark1" jdbcType="VARCHAR" />
		<result column="remark2" property="remark2" jdbcType="VARCHAR" />
		<result column="remark3" property="remark3" jdbcType="VARCHAR" />
		<result column="remark4" property="remark4" jdbcType="VARCHAR" />
		<result column="remark5" property="remark5" jdbcType="VARCHAR" />
		<result column="remark6" property="remark6" jdbcType="VARCHAR" />
		<result column="remark7" property="remark7" jdbcType="VARCHAR" />
		<result column="remark8" property="remark8" jdbcType="VARCHAR" />
		<result column="remark9" property="remark9" jdbcType="VARCHAR" />
		<result column="remark10" property="remark10" jdbcType="VARCHAR" />
		<result column="remark11" property="remark11" jdbcType="VARCHAR" />
		<result column="remark12" property="remark12" jdbcType="VARCHAR" />
		<result column="remark13" property="remark13" jdbcType="VARCHAR" />
		<result column="remark14" property="remark14" jdbcType="VARCHAR" />
		<result column="remark15" property="remark15" jdbcType="VARCHAR" />
		<result column="remark16" property="remark16" jdbcType="VARCHAR" />
		<result column="remark17" property="remark17" jdbcType="VARCHAR" />
		<result column="remark18" property="remark18" jdbcType="VARCHAR" />
		<result column="remark19" property="remark19" jdbcType="VARCHAR" />
		<result column="remark20" property="remark20" jdbcType="VARCHAR" />
		<result column="part_xgrq" property="partXgrq" jdbcType="DATE" />
		<result column="part_cjrq" property="partCjrq" jdbcType="DATE" />
	</resultMap>
	<sql id="Base_Column_List">
		phone_parts_id, phone_brand_code, phone_brand_name, phone_model_code,
		phone_model_name,
		phone_ver_code, phone_ver_name, phone_par_code, phone_par_name, part_colour_code,
		part_colour_name, part_sun_price, part_sum_num, part_price, part_num,
		part_price2,
		part_num2, part_num3, part_attr1, part_attr2, part_attr3, part_attr4,
		part_attr5,
		part_remark, remark1, remark2, remark3, remark4, remark5, remark6, remark7,
		remark8,
		remark9, remark10, remark11, remark12, remark13, remark14, remark15, remark16,
		remark17,
		remark18, remark19, remark20, part_xgrq, part_cjrq,is_delete
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from hpzc_part
		where phone_parts_id = #{phonePartsId,jdbcType=VARCHAR}
	</select>

	<insert id="insert" parameterType="com.hpzc.model.tms.HpzcPart">
		insert into hpzc_part (phone_parts_id, phone_brand_code,
		phone_brand_name,
		phone_model_code, phone_model_name, phone_ver_code,
		phone_ver_name, phone_par_code, phone_par_name,
		part_colour_code, part_colour_name, part_sun_price,
		part_sum_num, part_price, part_num,
		part_price2, part_num2, part_num3,
		part_attr1, part_attr2, part_attr3,
		part_attr4, part_attr5, part_remark,
		remark1, remark2, remark3,
		remark4, remark5, remark6,
		remark7, remark8, remark9,
		remark10, remark11, remark12,
		remark13, remark14, remark15,
		remark16, remark17, remark18,
		remark19, remark20, part_xgrq,
		part_cjrq)
		values (#{phonePartsId,jdbcType=VARCHAR},
		#{phoneBrandCode,jdbcType=VARCHAR},
		#{phoneBrandName,jdbcType=VARCHAR},
		#{phoneModelCode,jdbcType=VARCHAR},
		#{phoneModelName,jdbcType=VARCHAR}, #{phoneVerCode,jdbcType=VARCHAR},
		#{phoneVerName,jdbcType=VARCHAR}, #{phoneParCode,jdbcType=VARCHAR},
		#{phoneParName,jdbcType=VARCHAR},
		#{partColourCode,jdbcType=VARCHAR}, #{partColourName,jdbcType=VARCHAR}, #{partSunPrice,jdbcType=DOUBLE},
		#{partSumNum,jdbcType=INTEGER}, #{partPrice,jdbcType=DOUBLE},
		#{partNum,jdbcType=INTEGER},
		#{partPrice2,jdbcType=DOUBLE}, #{partNum2,jdbcType=INTEGER}, #{partNum3,jdbcType=DOUBLE},
		#{partAttr1,jdbcType=VARCHAR}, #{partAttr2,jdbcType=VARCHAR},
		#{partAttr3,jdbcType=VARCHAR},
		#{partAttr4,jdbcType=VARCHAR}, #{partAttr5,jdbcType=VARCHAR}, #{partRemark,jdbcType=VARCHAR},
		#{remark1,jdbcType=VARCHAR}, #{remark2,jdbcType=VARCHAR},
		#{remark3,jdbcType=VARCHAR},
		#{remark4,jdbcType=VARCHAR}, #{remark5,jdbcType=VARCHAR}, #{remark6,jdbcType=VARCHAR},
		#{remark7,jdbcType=VARCHAR}, #{remark8,jdbcType=VARCHAR},
		#{remark9,jdbcType=VARCHAR},
		#{remark10,jdbcType=VARCHAR}, #{remark11,jdbcType=VARCHAR}, #{remark12,jdbcType=VARCHAR},
		#{remark13,jdbcType=VARCHAR}, #{remark14,jdbcType=VARCHAR},
		#{remark15,jdbcType=VARCHAR},
		#{remark16,jdbcType=VARCHAR}, #{remark17,jdbcType=VARCHAR}, #{remark18,jdbcType=VARCHAR},
		#{remark19,jdbcType=VARCHAR}, #{remark20,jdbcType=VARCHAR},
		#{partXgrq,jdbcType=DATE},
		#{partCjrq,jdbcType=DATE})
	</insert>

	<update id="update" parameterType="com.hpzc.model.tms.HpzcPart">
		update hpzc_part
		<set>
			<if test="phoneBrandCode != null">
				phone_brand_code = #{phoneBrandCode,jdbcType=VARCHAR},
			</if>
			<if test="phoneBrandName != null">
				phone_brand_name = #{phoneBrandName,jdbcType=VARCHAR},
			</if>
			<if test="phoneModelCode != null">
				phone_model_code = #{phoneModelCode,jdbcType=VARCHAR},
			</if>
			<if test="phoneModelName != null">
				phone_model_name = #{phoneModelName,jdbcType=VARCHAR},
			</if>
			<if test="phoneVerCode != null">
				phone_ver_code = #{phoneVerCode,jdbcType=VARCHAR},
			</if>
			<if test="phoneVerName != null">
				phone_ver_name = #{phoneVerName,jdbcType=VARCHAR},
			</if>
			<if test="phoneParCode != null">
				phone_par_code = #{phoneParCode,jdbcType=VARCHAR},
			</if>
			<if test="phoneParName != null">
				phone_par_name = #{phoneParName,jdbcType=VARCHAR},
			</if>
			<if test="partColourCode != null">
				part_colour_code = #{partColourCode,jdbcType=VARCHAR},
			</if>
			<if test="partColourName != null">
				part_colour_name = #{partColourName,jdbcType=VARCHAR},
			</if>
			<if test="partSunPrice != null">
				part_sun_price = #{partSunPrice,jdbcType=DOUBLE},
			</if>
			<if test="partSumNum != null">
				part_sum_num = #{partSumNum,jdbcType=INTEGER},
			</if>
			<if test="partPrice != null">
				part_price = #{partPrice,jdbcType=DOUBLE},
			</if>
			<if test="partNum != null">
				part_num = #{partNum,jdbcType=INTEGER},
			</if>
			<if test="partPrice2 != null">
				part_price2 = #{partPrice2,jdbcType=DOUBLE},
			</if>
			<if test="partNum2 != null">
				part_num2 = #{partNum2,jdbcType=INTEGER},
			</if>
			<if test="partNum3 != null">
				part_num3 = #{partNum3,jdbcType=DOUBLE},
			</if>
			<if test="partAttr1 != null">
				part_attr1 = #{partAttr1,jdbcType=VARCHAR},
			</if>
			<if test="partAttr2 != null">
				part_attr2 = #{partAttr2,jdbcType=VARCHAR},
			</if>
			<if test="partAttr3 != null">
				part_attr3 = #{partAttr3,jdbcType=VARCHAR},
			</if>
			<if test="partAttr4 != null">
				part_attr4 = #{partAttr4,jdbcType=VARCHAR},
			</if>
			<if test="partAttr5 != null">
				part_attr5 = #{partAttr5,jdbcType=VARCHAR},
			</if>
			<if test="partRemark != null">
				part_remark = #{partRemark,jdbcType=VARCHAR},
			</if>
			<if test="remark1 != null">
				remark1 = #{remark1,jdbcType=VARCHAR},
			</if>
			<if test="remark2 != null">
				remark2 = #{remark2,jdbcType=VARCHAR},
			</if>
			<if test="remark3 != null">
				remark3 = #{remark3,jdbcType=VARCHAR},
			</if>
			<if test="remark4 != null">
				remark4 = #{remark4,jdbcType=VARCHAR},
			</if>
			<if test="remark5 != null">
				remark5 = #{remark5,jdbcType=VARCHAR},
			</if>
			<if test="remark6 != null">
				remark6 = #{remark6,jdbcType=VARCHAR},
			</if>
			<if test="remark7 != null">
				remark7 = #{remark7,jdbcType=VARCHAR},
			</if>
			<if test="remark8 != null">
				remark8 = #{remark8,jdbcType=VARCHAR},
			</if>
			<if test="remark9 != null">
				remark9 = #{remark9,jdbcType=VARCHAR},
			</if>
			<if test="remark10 != null">
				remark10 = #{remark10,jdbcType=VARCHAR},
			</if>
			<if test="remark11 != null">
				remark11 = #{remark11,jdbcType=VARCHAR},
			</if>
			<if test="remark12 != null">
				remark12 = #{remark12,jdbcType=VARCHAR},
			</if>
			<if test="remark13 != null">
				remark13 = #{remark13,jdbcType=VARCHAR},
			</if>
			<if test="remark14 != null">
				remark14 = #{remark14,jdbcType=VARCHAR},
			</if>
			<if test="remark15 != null">
				remark15 = #{remark15,jdbcType=VARCHAR},
			</if>
			<if test="remark16 != null">
				remark16 = #{remark16,jdbcType=VARCHAR},
			</if>
			<if test="remark17 != null">
				remark17 = #{remark17,jdbcType=VARCHAR},
			</if>
			<if test="remark18 != null">
				remark18 = #{remark18,jdbcType=VARCHAR},
			</if>
			<if test="remark19 != null">
				remark19 = #{remark19,jdbcType=VARCHAR},
			</if>
			<if test="remark20 != null">
				remark20 = #{remark20,jdbcType=VARCHAR},
			</if>
			<if test="partXgrq != null">
				part_xgrq = #{partXgrq,jdbcType=DATE},
			</if>
			<if test="partCjrq != null">
				part_cjrq = #{partCjrq,jdbcType=DATE},
			</if>
			<if test="isdelete != null">
				is_delete = #{isdelete,jdbcType=VARCHAR},
			</if>
		</set>
		where phone_parts_id = #{phonePartsId,jdbcType=VARCHAR}
	</update>

</mapper>