<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hpzc.dao.tms.HpzcXsdMapper">
	<resultMap id="BaseResultMap" type="com.hpzc.model.tms.HpzcXsd">
		<id column="x_id" property="xId" jdbcType="VARCHAR" />
		<result column="is_delete" property="isdelete" jdbcType="VARCHAR" />
		<result column="x_khbh" property="xKhbh" jdbcType="VARCHAR" />
		<result column="x_xsrq" property="xXsrq" jdbcType="VARCHAR" />
		<result column="x_ywygh" property="xYwygh" jdbcType="VARCHAR" />
		<result column="x_ywyxm" property="xYwyxm" jdbcType="VARCHAR" />
		<result column="x_zdrgh" property="xZdrgh" jdbcType="VARCHAR" />
		<result column="x_zdrxm" property="xZdrxm" jdbcType="VARCHAR" />
		<result column="x_bgygh" property="xBgygh" jdbcType="VARCHAR" />
		<result column="x_bgyxm" property="xBgyxm" jdbcType="VARCHAR" />
		<result column="x_xsdh" property="xXsdh" jdbcType="VARCHAR" />
		<result column="x_ddh" property="xDdh" jdbcType="VARCHAR" />
		<result column="x_xsje" property="xXsje" jdbcType="DECIMAL" />
		<result column="remark1" property="remark1" jdbcType="VARCHAR" />
		<result column="remark2" property="remark2" jdbcType="VARCHAR" />
		<result column="remark3" property="remark3" jdbcType="VARCHAR" />
		<result column="remark4" property="remark4" jdbcType="VARCHAR" />
		<result column="remark5" property="remark5" jdbcType="VARCHAR" />
		<result column="x_create" property="xCreate" jdbcType="DATE" />
		<result column="x_modefier" property="xModefier" jdbcType="DATE" />
		<result column="h_zdrq" property="hZdrq" jdbcType="VARCHAR" />
		<result column="h_seqno" property="hSeqno" jdbcType="VARCHAR" />
		<result column="status" property="status" jdbcType="VARCHAR" />
		<result column="h_type" property="htype" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		x_id, x_khbh, x_xsrq, x_ywygh, x_ywyxm, x_zdrgh, x_zdrxm,
		x_bgygh, x_bgyxm,
		x_xsdh,
		x_ddh, x_xsje, remark1, remark2, remark3,
		remark4, remark5, x_create,
		x_modefier,is_delete,h_zdrq,h_seqno,status,h_type
	</sql>
	<select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from hpzc_xsd
		where is_delete='0' and x_id = #{xId,jdbcType=VARCHAR}
		LIMIT 1
	</select>

	<!-- 计算总条数,生成动态单号! -->
	<select id="selectByMax" resultType="INTEGER">
		select count(*) from
		hpzc_xsd
		where remark1=#{0}
	</select>



	<select id="selectByQuery" resultMap="BaseResultMap"
		parameterType="map">
		select
		<include refid="Base_Column_List" />
		from hpzc_xsd
		where is_delete='0'
		<if test="xXsdh !=null and xXsdh !=''">
			and x_xsdh like CONCAT('%',#{xXsdh},'%')
		</if>
		<if test="xsr !=null and xsr !=''">
			and x_ywyxm like CONCAT('%',#{xsr},'%')
		</if>
		<if test="zdr !=null and zdr !=''">
			and x_zdrxm like CONCAT('%',#{zdr},'%')
		</if>
		<!-- 销售日期 -->
		<if test="xsbegin != null and xsbegin != ''">
  	     <![CDATA[ and x_xsrq >= #{xsbegin}  ]]>
		</if>
		<!-- 销售日期 -->
		<if test="xsend != null and xsend != ''">
    	 <![CDATA[ and x_xsrq <= #{xsend} ]]>
		</if>
		<!-- 制单日期 -->
		<if test="zdbegin !=null and zdbegin !=''">
	<![CDATA[   and DATE_FORMAT(x_create, '%Y-%m-%d')>=  DATE_FORMAT(#{zdbegin}, '%Y-%m-%d')   ]]>
		</if>
		<if test="zdend !=null and zdend !=''">
	<![CDATA[  and DATE_FORMAT(x_create, '%Y-%m-%d') <= DATE_FORMAT(#{zdend}, '%Y-%m-%d')    ]]>
		</if>
		<if test="minje != null and minje != ''">
  	     <![CDATA[ and x_xsje >= #{minje}  ]]>
		</if>
		<if test="maxje != null and maxje != ''">
  	     <![CDATA[ and x_xsje >= #{maxje}  ]]>
		</if>
	</select>

	<insert id="insert" parameterType="com.hpzc.model.tms.HpzcXsd">
		insert into hpzc_xsd (x_id,
		x_khbh, x_xsrq,
		x_ywygh, x_ywyxm, x_zdrgh,
		x_zdrxm, x_bgygh, x_bgyxm,
		x_xsdh, x_ddh, x_xsje,
		remark1, remark2, remark3,
		remark4, remark5,
		x_create,
		x_modefier,h_zdrq,h_seqno,status,h_type)
		values
		(#{xId,jdbcType=VARCHAR},
		#{xKhbh,jdbcType=VARCHAR},
		#{xXsrq,jdbcType=VARCHAR},
		#{xYwygh,jdbcType=VARCHAR},
		#{xYwyxm,jdbcType=VARCHAR},
		#{xZdrgh,jdbcType=VARCHAR},
		#{xZdrxm,jdbcType=VARCHAR},
		#{xBgygh,jdbcType=VARCHAR},
		#{xBgyxm,jdbcType=VARCHAR},
		#{xXsdh,jdbcType=VARCHAR},
		#{xDdh,jdbcType=VARCHAR},
		#{xXsje,jdbcType=DECIMAL},
		#{remark1,jdbcType=VARCHAR},
		#{remark2,jdbcType=VARCHAR},
		#{remark3,jdbcType=VARCHAR},
		#{remark4,jdbcType=VARCHAR},
		#{remark5,jdbcType=VARCHAR},
		#{xCreate,jdbcType=DATE},
		#{xModefier,jdbcType=DATE},
		#{hZdrq,jdbcType=VARCHAR},
		#{hSeqno,jdbcType=VARCHAR},
		#{status,jdbcType=VARCHAR},
		#{htype,jdbcType=VARCHAR})
	</insert>

	<update id="update" parameterType="com.hpzc.model.tms.HpzcXsd">
		update hpzc_xsd
		<set>
			<if test="xKhbh != null">
				x_khbh = #{xKhbh,jdbcType=VARCHAR},
			</if>
			<if test="xXsrq != null">
				x_xsrq = #{xXsrq,jdbcType=VARCHAR},
			</if>
			<if test="xYwygh != null">
				x_ywygh = #{xYwygh,jdbcType=VARCHAR},
			</if>
			<if test="xYwyxm != null">
				x_ywyxm = #{xYwyxm,jdbcType=VARCHAR},
			</if>
			<if test="xZdrgh != null">
				x_zdrgh = #{xZdrgh,jdbcType=VARCHAR},
			</if>
			<if test="xZdrxm != null">
				x_zdrxm = #{xZdrxm,jdbcType=VARCHAR},
			</if>
			<if test="xBgygh != null">
				x_bgygh = #{xBgygh,jdbcType=VARCHAR},
			</if>
			<if test="xBgyxm != null">
				x_bgyxm = #{xBgyxm,jdbcType=VARCHAR},
			</if>
			<if test="xXsdh != null">
				x_xsdh = #{xXsdh,jdbcType=VARCHAR},
			</if>
			<if test="xDdh != null">
				x_ddh = #{xDdh,jdbcType=VARCHAR},
			</if>
			<if test="xXsje != null">
				x_xsje = #{xXsje,jdbcType=DECIMAL},
			</if>
			<if test="remark1 != null">
				remark1 = #{remark1,jdbcType=VARCHAR},
			</if>
			<if test="remark2 != null">
				remark2 = #{remark2,jdbcType=VARCHAR},
			</if>
			<if test="remark3 != null">
				remark3 = #{remark3,jdbcType=VARCHAR},
			</if>
			<if test="remark4 != null">
				remark4 = #{remark4,jdbcType=VARCHAR},
			</if>
			<if test="remark5 != null">
				remark5 = #{remark5,jdbcType=VARCHAR},
			</if>
			<if test="xCreate != null">
				x_create = #{xCreate,jdbcType=DATE},
			</if>
			<if test="xModefier != null">
				x_modefier = #{xModefier,jdbcType=DATE},
			</if>
			<if test="isdelete != null">
				is_delete = #{isdelete,jdbcType=VARCHAR},
			</if>
			<if test="hZdrq != null">
				h_zdrq = #{hZdrq,jdbcType=VARCHAR},
			</if>
			<if test="hSeqno != null">
				h_seqno = #{hSeqno,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				status = #{status,jdbcType=VARCHAR},
			</if>
			<if test="htype != null">
				h_type = #{htype,jdbcType=VARCHAR},
			</if>
		</set>
		where x_id = #{xId,jdbcType=VARCHAR}
	</update>

	<!-- 批量删除和更新状态 -->
	<update id="batchDelete" parameterType="java.util.List">
		<foreach collection="list" item="item" index="index" open=""
			close="" separator=";">
			update hpzc_xsd set is_delete='1'
			where x_id
			=${item}
		</foreach>
	</update>




</mapper>