<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hpzc.dao.tms.HpzcStockMapper">
	<resultMap id="BaseResultMap" type="com.hpzc.model.tms.HpzcStock">
		<id column="s_id" property="sId" jdbcType="VARCHAR" />
		<result column="is_delete" property="isdelete" jdbcType="VARCHAR" />
		<result column="s_code" property="sCode" jdbcType="VARCHAR" />
		<result column="s_month" property="sMonth" jdbcType="VARCHAR" />
		<result column="s_pdrq" property="sPdrq" jdbcType="VARCHAR" />
		<result column="s_pdbh" property="sPdbh" jdbcType="VARCHAR" />
		<result column="s_wpmc" property="sWpmc" jdbcType="VARCHAR" />
		<result column="s_pdsl" property="sPdsl" jdbcType="INTEGER" />
		<result column="s_pdje" property="sPdje" jdbcType="DOUBLE" />
		<result column="s_kcsl" property="sKcsl" jdbcType="INTEGER" />
		<result column="s_kcje" property="sKcje" jdbcType="DOUBLE" />
		<result column="s_pysl" property="sPysl" jdbcType="INTEGER" />
		<result column="s_pksl" property="sPksl" jdbcType="INTEGER" />
		<result column="s_pyje" property="sPyje" jdbcType="DOUBLE" />
		<result column="s_pkje" property="sPkje" jdbcType="DOUBLE" />
		<result column="s_modifier" property="sModifier" jdbcType="DATE" />
		<result column="s_create" property="sCreate" jdbcType="DATE" />
		<result column="remark1" property="remark1" jdbcType="VARCHAR" />
		<result column="remark3" property="remark3" jdbcType="VARCHAR" />
		<result column="remark2" property="remark2" jdbcType="VARCHAR" />
		<result column="remark4" property="remark4" jdbcType="VARCHAR" />
		<result column="remark5" property="remark5" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		s_id, s_code, s_month, s_pdrq, s_pdbh, s_wpmc, s_pdsl,
		s_pdje, s_kcsl,
		s_kcje, s_pysl,
		s_pksl, s_pyje, s_pkje, s_modifier,
		s_create, remark1, remark3, remark2,
		remark4,
		remark5,is_delete
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from hpzc_stock
		where s_id = #{sId,jdbcType=VARCHAR}
	</select>


	<select id="selectByQuery" resultMap="BaseResultMap"
		parameterType="map">
		select
		<include refid="Base_Column_List" />
		from hpzc_stock
		where is_delete='0'
		<!-- <if test="zdr !=null and zdr !=''"> and h_play_code = #{zdr} </if> -->
	</select>



	<insert id="insert" parameterType="com.hpzc.model.tms.HpzcStock">
		insert into hpzc_stock (s_id,
		s_code, s_month,
		s_pdrq, s_pdbh, s_wpmc,
		s_pdsl, s_pdje, s_kcsl,
		s_kcje,
		s_pysl, s_pksl,
		s_pyje, s_pkje, s_modifier,
		s_create, remark1, remark3,
		remark2, remark4, remark5
		)
		values (#{sId,jdbcType=VARCHAR},
		#{sCode,jdbcType=VARCHAR},
		#{sMonth,jdbcType=VARCHAR},
		#{sPdrq,jdbcType=VARCHAR}, #{sPdbh,jdbcType=VARCHAR},
		#{sWpmc,jdbcType=VARCHAR},
		#{sPdsl,jdbcType=INTEGER},
		#{sPdje,jdbcType=DOUBLE},
		#{sKcsl,jdbcType=INTEGER},
		#{sKcje,jdbcType=DOUBLE}, #{sPysl,jdbcType=INTEGER},
		#{sPksl,jdbcType=INTEGER},
		#{sPyje,jdbcType=DOUBLE},
		#{sPkje,jdbcType=DOUBLE},
		#{sModifier,jdbcType=DATE},
		#{sCreate,jdbcType=DATE}, #{remark1,jdbcType=VARCHAR},
		#{remark3,jdbcType=VARCHAR},
		#{remark2,jdbcType=VARCHAR},
		#{remark4,jdbcType=VARCHAR},
		#{remark5,jdbcType=VARCHAR}
		)
	</insert>

	<update id="update" parameterType="com.hpzc.model.tms.HpzcStock">
		update hpzc_stock
		<set>
			<if test="sCode != null">
				s_code = #{sCode,jdbcType=VARCHAR},
			</if>
			<if test="sMonth != null">
				s_month = #{sMonth,jdbcType=VARCHAR},
			</if>
			<if test="sPdrq != null">
				s_pdrq = #{sPdrq,jdbcType=VARCHAR},
			</if>
			<if test="sPdbh != null">
				s_pdbh = #{sPdbh,jdbcType=VARCHAR},
			</if>
			<if test="sWpmc != null">
				s_wpmc = #{sWpmc,jdbcType=VARCHAR},
			</if>
			<if test="sPdsl != null">
				s_pdsl = #{sPdsl,jdbcType=INTEGER},
			</if>
			<if test="sPdje != null">
				s_pdje = #{sPdje,jdbcType=DOUBLE},
			</if>
			<if test="sKcsl != null">
				s_kcsl = #{sKcsl,jdbcType=INTEGER},
			</if>
			<if test="sKcje != null">
				s_kcje = #{sKcje,jdbcType=DOUBLE},
			</if>
			<if test="sPysl != null">
				s_pysl = #{sPysl,jdbcType=INTEGER},
			</if>
			<if test="sPksl != null">
				s_pksl = #{sPksl,jdbcType=INTEGER},
			</if>
			<if test="sPyje != null">
				s_pyje = #{sPyje,jdbcType=DOUBLE},
			</if>
			<if test="sPkje != null">
				s_pkje = #{sPkje,jdbcType=DOUBLE},
			</if>
			<if test="sModifier != null">
				s_modifier = #{sModifier,jdbcType=DATE},
			</if>
			<if test="sCreate != null">
				s_create = #{sCreate,jdbcType=DATE},
			</if>
			<if test="remark1 != null">
				remark1 = #{remark1,jdbcType=VARCHAR},
			</if>
			<if test="remark3 != null">
				remark3 = #{remark3,jdbcType=VARCHAR},
			</if>
			<if test="remark2 != null">
				remark2 = #{remark2,jdbcType=VARCHAR},
			</if>
			<if test="remark4 != null">
				remark4 = #{remark4,jdbcType=VARCHAR},
			</if>
			<if test="remark5 != null">
				remark5 = #{remark5,jdbcType=VARCHAR},
			</if>
			<if test="isdelete != null">
				is_delete = #{isdelete,jdbcType=VARCHAR},
			</if>
		</set>
		where s_id = #{sId,jdbcType=VARCHAR}
	</update>

</mapper>